# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
.venv/
.venv/*
pip-wheel-metadata/
*.egg-info/

# Jupyter
.ipynb_checkpoints
*.ipynb

# VS Code
.vscode/

# Models / data
models/
data/
*.h5
*.pt
*.ckpt

# OS
.DS_Store
Thumbs.db
